body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: rgb(26, 26, 26);
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: chocolate; /* Cor do texto do logo */
    font-size: 24px; /* Tamanho da fonte do logo */
}

.header .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que a barra de pesquisa ocupe o espaço restante */
    justify-content: center; /* Centraliza a barra de pesquisa */
}

.header input[type="text"] {
    border: 2px solid chocolate;
    padding: 13px 15px;
    border-radius: 20px;
    width: 500px;
    transition: border 0.3s;
}

.header input[type="text"]:focus {
    border-color: chocolate;
    outline: none;
}

.header .search-icon {
    margin-left: 10px;
    cursor: pointer;
}

.header .icons-container {
    display: flex;
    align-items: center;
}

.header .cart-icon,
.header .user-icon {
    cursor: pointer;
    margin-left: 20px; /* Espaço entre os ícones */
}

.header .cart-icon img,
.header .user-icon img {
    width: 50px; /* Diminuindo o tamanho do ícone do carrinho */
    height: 50px; /* Diminuindo o tamanho do ícone do perfil */
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left; /* Alinha o texto à esquerda */
    margin-top: 20px;
    position: fixed; /* Fixa a borda inferior */
    bottom: 0; /* Alinha na parte inferior da tela */
    width: 100%; /* Largura total */
}

.social-icons {
    display: flex;
    justify-content: flex-start; /* Alinha os ícones à esquerda */
    margin-top: 10px;
}

.social-icon {
    margin: 0 5px;
}